body {
  color: white;
  background: url(assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: inter, sans-serif;
  margin: 0;
}

.nav-logo {
  width: 200px;
  height: 45px;
  margin-top: 7VH;
  margin-left: 22VH;
  MARGIN-BOTTOM: 3VH;
}
h1{
  color: white;
  text-align: center;
  margin-top: 2em;
  font-size: 60px;
  font-family: outfit, sans-serif;
}
h2{
  color: white;
  margin-left: 24%;
  margin-bottom: 2em;
  font-weight: normal;
  font-size: 2em;
  width: 100%;
  letter-spacing: 3px;
  font-family: outfit, sans-serif;
}
#first-h2{
  margin-bottom: 0;
}
h2 span{
  margin-left: 14%;
}
#text-input{
  text-align: center;
  margin-left: 24%;
  background: transparent;
  border: none;
  height: 2em;
  font-size: x-large ;
  color: white;
}
hr{
  width:1000px;
  height: 2px;
  margin: auto;
  background-color: #b22b89;
  border: none
}
.button-div{
  text-align: center;
  position: relative;
  width: 100%;
}
button {
  margin: 20px;
  background-color: #01ffff;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border: none;
  box-shadow: 5px 5px 65px 1px rgba(1, 255, 255, 1);
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 65px 10px rgba(1, 255, 255, 1);

}

a{
display: inline-flex;
transform: translate(-50%, -50%)
}
a:hover{
  background-color: black;
  transform: translate(-50%, -50%)
}
.rate {
  margin-right: 22%;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:100px;
  color:black;
  margin-inline: auto;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #75fbfd;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color:#75fbfd;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #75fbfd;
}
#second-h2{
display: inline-block;
text-align: center;
margin-left: 0%;
margin-top: 80px
}