body {
  color: #e7e7eb;
  background: url(assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: outfit, sans-serif;
}

.container {
  background: url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  text-align: right;
  margin-right: 20px;
}
.nav-logo {
  position: absolute;
  width: 200px;
  height: 46px;
  top: 100;
  left: 100;
  top: 52px;
  left: 160px;
}
.english {
  width: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.result-header {
  margin-top: 70px;
}

.result {
  font-size: 50px;
  margin-bottom: 8px;
  font-weight: 700;
  margin-bottom: 0;
}
h3 {
  font-size: 26px;
  margin-bottom: 8px;
}
.label {
  font-size: 50px;
  font-weight: 100;
}

.correct-block,
.wrong-block {
  margin: 100px;
}
span {
  font-size: 18.4px;
}
.summary {
  text-align: center;
  margin-top: 0;
  font-weight: 100;
  margin-bottom: 27px;
}
.score-container h2 {
  margin: 0;
}
.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container .percent {
  margin: 0;
}
.score-container .number-questions {
  margin: 0;
  font-weight: lighter;
}

.rate-container {
  text-align: center;
}
.rate-us {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(71, 25, 109, 0);
  border: solid rgba(255, 255, 255, 0.884) 3px;
  color: rgba(255, 255, 255, 0.884);
  width: 230px;
  height: 60px;
  font-size: 1.3em;
  font-weight: bold;
}
.span-bold {
  font-weight: 700;
  line-height: 25.6px;
}
.span-font {
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.05em;
}
#button {
  text-align: center;
  margin-top: 25px;
  background-color: rgb(71, 25, 109, 0);
  border: solid rgba(255, 255, 255, 0.884) 3px;
  color: rgba(255, 255, 255, 0.884);
  margin-bottom: 65px;
  width: 200px;
  height: 60px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 800;
}
#button:hover {
  background-color: #01ffff;
  color: black;
  cursor: pointer;
  box-shadow: 5px 5px 65px 1px rgba(1, 255, 255, 1);
}

.circle-svg {
  width: 350px;
  height: 350px;
}

.donut-ring {
  background-color: black;
}

.chart-text {
  color: white;
  font-size: 16px;
  margin-top: -250px;
  max-width: 200px;
  margin-inline: auto;
}

.chart-number {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}
.chart-second {
  font-size: 14px;
  color: rgb(0, 255, 255);
  line-height: 1;
  font-weight: bold;
}

.chart-label {
  font-size: 13px;
  line-height: 1;
}
